@{
    ViewData["Title"] = "Home Page";
}



<!--Bir Href ile bir action'a paramtre gönderebilirsiniz

Home/Index action'ın paramtre olarak aldığı int tipinde a değişkenine aşağıdaki şekilde 20 değerini gönderdik.
-->
<a href="https://localhost:7111/Home/Index/?a=20">Home Index'e  git</a>


<a href="https://localhost:7111/Home/Privacy/?deger=wissenbesiktas">Metinsel değeri parametre gönder</a>